
    <div class="container-fluid d-flex flex-column align-items-center">
        <a class="navbar-brand" href="">
            <img src="favicon.png" alt="Logo" class="navbar-logo" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column align-items-center">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pontag">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> PON Light Up
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ponsearch">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> PON Look Up
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

<style>
    .custom-navbar {
        background-color: #592B83; /* Change to your desired color */
        padding: 10px 0;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-brand {
        margin: 0;
        text-align: center;
    }

    .navbar-logo {
        height: 100px; /* Adjust as needed */
    }

    .nav-scrollable {
        width: 100%;
        background-color: #592B83; /* Match the navbar color */
        padding: 10px 0;
    }

    nav.flex-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-link {
        color: white; /* Adjust link color */
        font-size: 1.2em; /* Adjust font size */
        text-decoration: none;
    }

    .nav-link:hover {
        color: #ddd; /* Adjust hover color */
    }

    .nav-link .bi {
        margin-right: 5px;
    }
</style>