@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="jumbotron text-center">
        <h1>PON Manager</h1>
        <p class="lead">This application is designed to manage PON (Passive Optical Network) operations, featuring recent PON search and PON Light Up functionalities.</p>
    </div>

    @* <div class="content-section"> *@
    @*     <h2>Table of Contents</h2> *@
    @*     <ul> *@
    @*         <li><a href="#documentation">Documentation</a></li> *@
    @*         <li><a href="#introduction">Introduction</a></li> *@
    @*         <li><a href="#features">Features</a></li> *@
    @*         <li><a href="#support">Support</a></li> *@
    @*     </ul> *@
    @* </div> *@
    <div id="introduction" class="content-section">
        <h3>Introduction</h3>
        <p>The PON Manager application is a tool designed to facilitate the management and operation of PONs. This <a href="https://github.com/wgeld/PonManager">GitHub Repository</a> houses the codebase for the application, and new features will be developed and tracked in separate branches.</p>
        <p>We anticipate expanding the feature set of the PON Manager in the future to better serve the needs of its users.</p>
    </div>
    <div id="features" class="content-section">
        <h3>Current Features</h3>
        <ul>
            
            <li>1.) PON Light Up: Activate or light up a PON, then view a confirmation page that displays the newly created results.</li>
            <li>2.) Recent PON Light Ups: Display the most recently lit up PONs with the ability to change the look back period.</li>
        </ul>
    </div>
    
    <div id="documentation" class="content-section">
        <h3>Documentation</h3>
        <p>For detailed documentation, please refer to our <a href="https://wgeld.atlassian.net/wiki/spaces/ADD/pages/401866754/PON+Light+Up+-+Documentation+Directory">Confluence Documentation</a>.</p>
        <p>To view the source code, please refer to the <a href="https://github.com/wgeld/PonManager">GitHub Repository</a>.</p>
    </div>


    <div id="support" class="content-section">
        <h3>Support</h3>
        <p>If you encounter any issues or have any questions, please reach out to the App Dev Team.</p>
        <ul>
            <li>Email: <a href="mailto:AppDevTeam@wgeld.org">AppDevTeam@wgeld.org</a></li>
        </ul>
    </div>
</div>

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    .jumbotron {
        background-color: #f8f9fa;
        padding: 30px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .content-section {
        margin-bottom: 40px;
    }
    h1 {
        color: #592B83;
        font-weight: bold;
    }
    h2 {
        color: #333;
        margin-top: 20px;
    }
    .lead {
        font-size: 1.25em;
        font-weight: 300;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    ul li {
        margin-bottom: 10px;
    }
    ul li a {
        color: #007bff;
        text-decoration: none;
    }
    ul li a:hover {
        text-decoration: underline;
    }
</style>

