@page "/PonExists"
@inject NavigationManager Navigation

<PageTitle>PON Path Exists</PageTitle>
<br/>
<h3>This PON path already exists.</h3>
<br/>
<div class="alert alert-warning" role="alert">
    The PON path you are trying to input already exists and cannot be duplicated.
</div>

<button class="btn btn-primary" @onclick="GoBack">Retry</button>

@code {
    private void GoBack()
    {
        Navigation.NavigateTo("/pontag");
    }
}